// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4DFFF3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$deep-gray: #171721;
$dark-gray: #1E1E26;
$mid-gray: #313138;
$regular-gray: #a5a5a5;
$light-gray: #F4F4F4;
$white: #FFFFFF;
