<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand ms-2" do %>
        <%= image_tag "recruit.png" %>
      <% end %>
    </div>
    <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= render 'shared/search_bar' %>
    <% end %>
  </div>
</div>
