<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to players_path, class: "navbar-brand me-1" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <p class='text-primary'><strong>OptiRecruit</strong></p>
    </div>
    <%= simple_form_for :team_id, url: players_path, method: :get, html: { class: 'me-3 navbar-lewagon-search' } do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="team" id="search_query" value="<%= @team&.name %>"/>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search text-primary"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>
