<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand ms-2" do %>
        <%= image_tag "recruit.png" %>
      <% end %>
    </div>
    <div class="dropdown" data-controller='search'>
      <%= simple_form_for :team_id, url: players_path, method: :get, html: { class: 'navbar-lewagon-search', type: "button", id: "searchdropdown", 'data-bs-toggle': "dropdown", 'aria-expanded': "false", data: { search_target: 'form', action: 'focusin->search#clear' } } do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="team" id="search_query" value="<%= @team&.name %>" data-search-target='input' data-action="keyup->search#update" autocomplete="off" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search text-primary"></i>
          </button>
        </div>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" data-search-target='list'>
        <li data-search-target='default'><a class="dropdown-item" href="#"><em>Search team or player...</em></a></li>
      </ul>
    </div>
  </div>
</div>
