<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(<%= image_path('pitch.jpg') %>);">
  <div class="container">
    <div class="banner-info">
      <h1>OptiRecruit</h1>
      <p>Discover the world's best talent.</p>
      <%= link_to players_path, class: 'btn btn-primary mt-3' do %>
        Search <i class="fas fa-search"></i>
      <% end %>
    </div>
  </div>
</div>
