<div class="container mt-5">
  <%= render 'header' %>
  <%= render 'tabs', active: 'targets' %>
  <div class="row mt-4  ">
    <div class="col">
      <%= render 'players/tables', players: @players %>
    </div>
  </div>
</div>
