.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: $primary;
  padding: 8px;
  margin: 8px;
  opacity: .5;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  // font-weight: lighter;
  &:hover {
    opacity: 1;
  }
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $primary;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .tabs-underlined {
    .tab-underlined {
      font-size: 0.8em;
    }
  }
}
