html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  margin-bottom: 32px;
}
.footer {
  flex-shrink: 0;
}

p {
  margin: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-light:hover {
  color: $primary;
}


@media (min-width: 100px) and (max-width: 575px) {
  .ellipsis {
    max-width: 148px;
  }
}
