<div class="row mt-4">
  <div class="col">
    <div class="btn-group">
      <a href="#" class="btn btn-secondary <%= 'active' if active == 'squads' %>" aria-current="page">Squad</a>
      <a href="#" class="btn btn-secondary <%= 'active' if active == 'targets' %>">Targets</a>
      <a href="#" class="btn btn-secondary <%= 'active' if active == 'search' %>">Search</a>
    </div>
  </div>
</div>
