<div class="row mt-4">
  <div class="col">
    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to 'Squad', players_path(team_id: @team.id), class: "tab-underlined #{'active' if active == 'squads'}" %>
      </li>
      <li>
        <% if active == 'targets' %>
          <%= link_to 'Targets', '#', class: "tab-underlined #{'active' if active == 'targets'}" %>
        <% else %>
          <%= link_to 'Targets', player_path(@team.players&.first), class: "tab-underlined" %>
        <% end %>
      </li>
      <% if false %>
        <li>
          <%= link_to 'Search', '#', class: "tab-underlined #{'active' if active == 'search'}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
